**/package-lock.json
# Environment variables
.env
**/.env

# Python
**/__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
**/app_local.yaml
frontend/dist
frontend/static
backend/app_local.yaml
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Node
node_modules/
**/node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
.pnp/
.pnp.js
coverage/
build/
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Database
*.sqlite3
*.db

# IDE
.idea/
.vscode/
*.swp
*.swo 
